.signup-container {
    background: url('../img/foto2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.form-title {
    font-size: 24px;
    color: #333; /* Cambia el color del texto para mejorar la legibilidad */
    margin-bottom: 20px;
}

.font-weight-bold {
    font-weight: bold;
}
